@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: #7554faff;
}

main{
    padding-top: 60px;
    overflow-x: hidden;
}
    
#body {
    display: flex;
}

header nav{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #7554faff;
    color: #ffff3bff;
    display: inline-flex;
}

#brand {
    text-align: center;
    width: 100%;
    font-size: 40px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    font-style: italic;
    float: left;
    line-height: 60px;
    padding-left: 11%;
}

#ourBrand {
    text-decoration: none;
    color: #ffff3bff;
}

#menu {
    width: 50px;
    height: 30px;
    margin-left: 10px;
    float: left; 
}

#wishlist {
    width: 50px;
    margin-left: 10px;
    height: 30px;
    float: left; 
}

.iconButton {
    display: inline-block;
    margin: 15px;
}

#search-field {
    height: 30px;
    width: 170%;
    background-color: rgb(76, 62, 133);
    border-radius: 10px;
    border: 1px solid #7554faff; 
    float: right;  
    color: #ffff3bff;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Balsamiq Sans', cursive;
}

.iconSearch {
    position: absolute;
    right: 5px;
    top: 3px;
}

#search {
    height: 30px;
    width: fit-content;
    float: right; 
    position: relative;
}

#basket {
    width: 50px;
    line-height: 60px;
    float: right; 
    margin: 10px; 
}

#menu-panel {
    display: block;
    height: auto;
    width: 20%;
    background-color: white;
    border-right: 1px solid #7554faff; 
    float: left;
    min-width: 230px;
    min-height: 660px;
}

#profileButton {
    text-align: center;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menuButtons {
    text-decoration: none;
    display: block;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    min-width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    font-family: 'Balsamiq Sans', cursive;
    background-color: #7554faff;
    color: #ffff3bff;
    border-radius: 25px;
}

#main {
    width: auto;
}

#groups{
    display: flex;
    position: fixed;
    background-color: white;
    height: 65px;
    width: 81%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
}

.groupButton {
    display: block;
    margin: 5px;
    width: 85px;
    height: 66px;
}

.groupButton:active {
    height: 55px;
    padding: 1px;
    margin: 1px;
    border: 3px solid #7554faff;
    border-radius: 10px;   
}

.groupIcon {
    line-height: 20px;
    text-align: center;
    display: block;   
}

.groupName {
    color: #7554faff;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    text-align: center;
    display: block;
    position: flex;
    width: auto;
}

#sortingTypes {
    margin-left: 30px;
}

.radio {
    opacity: 0;
}

.filter {
    font-size: 25px;
    margin-left: 30px;
}

#priceLow {
    display: block;
    float: left;
    margin-left: -20px;
    width: 70px;
    height: 30px;
    line-height: 35px;
    border: 3px solid #7554faff;
    border-radius: 17.5px;
    background-color: white;
    color: #7554faff;
    font-size: 20px;
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
}

#-{
    text-align: center;
    display: block;
    background-color: #7554faff;
    border-radius: 1.5px;
    width: auto;
    height: 3px;
}

#priceHigh {
    display: block;
    float: right;
    margin-right: 10px;
    width: 70px;
    height: 30px;
    line-height: 35px;
    border: 3px solid #7554faff;
    border-radius: 17.5px;
    background-color: white;
    color: #7554faff;
    font-size: 20px;
    font-family: 'Balsamiq Sans', cursive;
    text-align: center; 
}

label {
    width: flex;
    font-size: 20px;
    cursor: pointer;
    color: #7554faff;
    font-family: 'Balsamiq Sans', cursive;
}

.checkbox {
    opacity: 0;
}

.li1 {
    list-style-type: disc;
    color: #7554faff;
    font-family: 'Balsamiq Sans', cursive;
    cursor: pointer;
    margin-top: 10px;
}

#brands {
    margin-top: 45px;
}

.li2 {
    list-style-type: none;
    height: 25px;
    line-height: 25px;
}

.menu-panel-structure {
    text-align: center;
    display: block;
    background-color: #7554faff;
    color: #ffff3bff;
    font-size: 20px;
    font-family: 'Balsamiq Sans', cursive;
    height: 35px;
    line-height: 35px;
    min-width: 170px;
    width: 68%; 
    border: 1px solid #7554faff;
    border-radius: 17.5px;
    margin-left: 16%;
    margin-bottom: 10px;
    margin-top: 15px;
    cursor: pointer;
}

#ourContacts {
    font-size: 30px; 
    font-style: italic;
}

footer {
    background-color: white;
    color: #7554faff;
    font-size: 20px;
    font-family: 'Balsamiq Sans', cursive;
    width: 100%;
    height: 80px;
    border-top: 1px solid #7554faff;
}

.footer-contacts-card{
    margin-left: 20px;
}

.inner-products-window{
    width: 100%;
}

.products-output-scrollable{
    margin-top: 66px;
    overflow-y: scroll;
    height: auto;
    height:594px;
}