@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}

header {
    height: fit-content;
    width: 100%;
    background-color: #7554faff;
    color: #ffff3bff;
    display: flex;
}
nav
{
    width: 100%;
    display: flex;
}
#menu{
    width: 50px;
    height: fit-content;
    margin-left: 10px;
    float: left; 
 
}

#wishlist {
    width: 50px;
    margin-left: 10px;
    height: 30px;
    float: left; 
 
}

#brand {
    width: 100%;
    font-size: 40px;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    float: left; 
 
}

#search-field {
    height: 35px;
    width: 200px;
    background-color: rgb(76, 62, 133);
    border-radius: 5px;
    border: #7554faff; 
    float: left; 
    margin-right: 10px;
 
}

#search {
    height: 30px;
    width: fit-content;
    float: right; 
    position: relative;
 
}

#basket {
    float: right; 
 
}
.icon{
    position: absolute;
    right: 15px;
}
.iconButton
{
    display: inline-block;
    margin: 15px;
}